html {
  height: 100%;

}

body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Condensed', sans-serif;
}

h1 {
  font-size: 4em;
  margin-bottom: .2em
}

p {
  font-size: 1.25em;
}

a {
  color: #fff;
}

/* Centered texts in each section
* --------------------------------------- */

.section {
  text-align: center;
  background-size: cover;
}
.slide {
  background-size: cover;
}

.intro {
  width: 100%;
  padding: 30px;
  background-color: rgba(255,255,255,.5);
  text-shadow: 1px 1px 0 #000;
}

/* Overwriting styles for control arrows for slides
* --------------------------------------- */
.controlArrow.prev {
  left: 50px;
}

.controlArrow.next{
  right: 50px;
}

#section-first {
  background-image: url(../assets/backgrounds/spb1.jpg);
}
#section-second {
  background-image: url(../assets/backgrounds/spb2.jpg);
}
#section-third {
  background-image: url(../assets/backgrounds/spb3.jpg);
}


.meetup {
  width: 100px
}

.telegram {
  width: 100px
}
.google-plus {
  width: 90px
}
